* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(26,35,126 ,1) url('../assets/images/home.jpg') no-repeat center center fixed;
  background-size: cover;

  color: rgba(232,234,246 ,1);
}

.intro {
  width: 90vw;

  padding: 1rem;
  margin-top: 1rem;

  background: rgba(41,182,246 ,1);
  color: rgba(1,87,155 ,1);
}